<!DOCTYPE html>
<html>
<head>

</head>
<body>

<div class="header image-background" >


  <h1>Wongnai</h1>

 <h2><p>ค้นหา รีวิว ทำอาหาร</p></h2>

</div>


<div class="topnav">
  <a href="#">หน้าหลัก</a>
  <a href="#">เพิ่มสูตรอาหาร</a>
  <a href="#">ค้นหาสูตร</a>
  <a href="#" style="float:right">ติดต่อเรา</a>
</div>

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2>เขียนสูตรอาหาร</h2>
      <p>คุณสามารถเพิ่มสุดยอดเมนูในแบบของคุณเองเพียงบันทึกข้อมูลลงในช่องกรอกข้อมูลด้านล่าง</p>

      <div class="container">
        <form action="">
          <div class="row">
            <div class="col-25">
              <label for="fname">ชื่ออาหารของคุณ</label>
            </div>
            <div class="col-75">
              <input type="text" id="recipes" name="recipes" placeholder="ชื่อเมนู..">
            </div>
          </div>
          <div class="row">
            <div class="col-25">
              <label for="name">ชื่อของคุณ</label>
            </div>
            <div class="col-75">
              <input type="text" id="name" name="name" placeholder="ชื่อของคุณ..">
            </div>
          </div>
          <div class="row">
            <div class="col-25">
              <label for="menu">วัตถุดิบหลัก</label>
            </div>
            <div class="col-75">
              <select id="menu" name="menu">
                <option value="chicken">เมนูไก่</option>
                <option value="pork">เมนูหมู</option>
                <option value="fish">เมนูปลา</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-25">
              <label for="subject">ขั้นตอนการทำอาหาร</label>
            </div>
            <div class="col-75">
              <textarea id="subject" name="subject" placeholder="ขั้นตอนการทำอาหารโดยละเอียด..." style="height:200px"></textarea>
            </div>
          </div>
          <div class="row">
            <input type="submit" value="บันทึก">
          </div>
        </form>
      </div>
    </div>

      <div class="card">
        <h2>TITLE HEADING</h2>
        <h5>Title description, Sep 2, 2018</h5>
        <div class="fakeimg" style="height:200px;">Image</div>
        <p>Some text..</p>

    </div>
  </div>
  <div class="rightcolumn">
    <div class="card">
      <h2>About Me</h2>
      <div class="fakeimg" style="height:100px;">Image</div>
      <p>เว็บไซค์นีถูกเขียนขึ้นเพื่อการศึกษา..ไม่ได้มุ่งหาแสวงผลกำไรแต่อย่างใด</p>
    </div>
    <div class="card">
      <h3>Popular Post</h3>
      <div class="fakeimg"><p>Image</p></div>
      <div class="fakeimg"><p>Image</p></div>
      <div class="fakeimg"><p>Image</p></div>
    </div>
    <div class="card">
      <h3>Follow Me</h3>
      <p>Some text..</p>
    </div>
  </div>
</div>

<div class="footer">
  <h2>Footer</h2>
</div>

</body>
</html>
